modal-gastos {
  .card {
    ion-item ion-icon {
      font-size: 84px;
      color: #213A41;
    }
    h6 {
      color: #777;
    }
    h1 {
     color:#213A41;
    }
    ion-card-header {
      color: #fff;
      background-color: #00b0ff;
    }
     ion-card-title {
      color: #fff;
    }
  }  
}