page-orcamento {
  ion-navbar ion-icon {
    font-size: 22px;
  }
  h1 {
     color: #213A41;
     font-style: bold;
  }
  .card {
    ion-item ion-icon {
      font-size: 84px;
      color: #213A41;
    }
    h6 {
      color: #777;
    }
    h1 {
     color:#213A41;
     font-size: 2em;
    }
    ion-card-header {
      color: #fff;
      background-color: #13AB75;
    }
     ion-card-title {
      color: #fff;
    }
  }  
}