page-home {
  ion-navbar ion-icon {
    font-size: 22px;
  }
  .card {
    ion-item {
      height: 90px;
    }
    ion-item ion-icon {
      font-size: 84px;
      color: #fff;
    }
    h2, p {
      color: #e0e0e0;
    }
    h1 {
      color: #fff;
    }
  }
  // https://ionicframework.com/docs/components/#card-background
  .card-background {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 60%;
      width: 100%;
      color: #fff;
    }
  }
}
