page-home {
  .card {
    ion-item {
      height: 90px;
    }
    ion-item ion-icon {
      font-size: 84px;
      color: #fff;
    }
    h2, p {
      color: #e0e0e0;
    }
    h1 {
      color: #fff;
    }
  }
}
