page-home {
  .info-content {
    background: linear-gradient(141deg, #eee 0%, #fafafa 51%, #fff 75%);
    //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    text-align: center;

    img {
      margin-top: 20px;
      height: 160px;
    }
  }
  .card {
    h1 {
      color: #222;
    }
  }
}
