page-localidade {
  .background {
    background-image: url("../assets/images/telaInicialMobile-100.jpg");
    background-size: 100% 100%;
  }
  .card-input {
    background-color: rgba(255,255,255, 0.6);
    width: 70%;
    margin: auto;
    text-align: center;

    .select {
      font-size: 16px;
      min-width: 100px;
      margin: auto;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}
