<ion-menu [content]="content">
  <ion-content>
    <div class="card-background">
      <div class="card-content">
        <img src="assets/images/bg_jp2.jpg"/>
        <div class="card-title">{{'João Pessoa'}}</div>
        <div class="card-subtitle">{{'Paraíba, Brasil'}}</div>
      </div>
    </div>
    <ion-list>
      <div *ngFor="let p of pages; let i = index">
        <ion-item (click)="openPage(p)" menuClose no-lines>
          <ion-icon [name]="p.icon" item-left></ion-icon>
          <ion-label item-right>{{p.title}}</ion-label>
        </ion-item> 
        <div *ngIf="i == 2 || i == 5"><hr/></div>
      </div>
      <ion-item menuClose no-lines (click)="openSobreModal()">
        <ion-icon name="information-circle" item-left></ion-icon>
        <ion-label item-right>Sobre</ion-label>
      </ion-item>
      <ion-item menuClose no-lines>
        <ion-icon name="exit" item-left></ion-icon>
        <ion-label item-right>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
