page-voce-sabia {
  .card {
    ion-item {
      height: 90px;
      background-color:  #fff;
    }
    ion-item ion-icon {
      font-size: 84px;
      color: #213A41;
    }
    h6 {
      color: #777;
    }
    h1, p {
      color: #213A41;
    }
    p {
      font-size: 1em;
    }
    ion-card-header {
      color: #fff;
    }
     ion-card-title {
      color: #fff;
    }
  }  
}